@import 'tailwindcss';

body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}
