---
import {TextArea} from '@/components/TextArea';
import Layout from '../layouts/Layout.astro';
import { Container } from '@/components/Container';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="max-w-[1280px] w-full p-4">
		<main class="flex justify-center">
			<Container client:load />
		</main>
	</div>
</Layout>
